.activity-monitor {
   height: 253px;
   max-height: auto;
   background-color: white;
   overflow-y: scroll;
   padding: 8px;
}

.activity-monitor header h3 {
   margin: 5px;
   margin-bottom: -3px;
   font-size: 20px;
   font-weight: normal;
   color: gray;
}

.activity-monitor header {
   padding-right: 5px;

}

.activities {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 5px;
}

.activity {
   padding: 8px;
   background-color: #407cbf;
   margin-bottom: 10px;
   color: white;
   border-radius: 5px ;
   box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.1);
   font-size: 14px;
}

.activity header {
   background-color: #407cbf;
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 14px;
   margin-top: -5px;
   margin-bottom: 3px;

}

.activity.cancel,
.activity.cancel header {
   background-color: gray;
}

.activity .activity-info{
   justify-content: space-between!important;
   flex-direction: row!important;
   display: flex!important;
   margin-bottom: .5rem!important;
}

.activity .activity-info div:first-child {
   font-size: 14px;
}

.activity .activity-info div:first-child p {
   margin-bottom: 5px;
}

.date-time-activity {
   font-size: 15px;
}

.date-time-activity p:last-child {
   float: right;
   color: #cccccc;
   font-size: 13px;
}