.modal-config {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   z-index: 5;
}

.modal-config .modal {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: white;
   width: 400px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.modal-config .options-config-modal{
   display: flex;
   flex-direction: column;
   margin: 10px;
   width: 400px;
   text-align: center;
}

.modal h2 {
   letter-spacing: 1px;
   margin-bottom: 1vh;
}

.options-config-modal a {
   color: black;
   text-decoration: none;
   font-size: 17px;
   margin-bottom: 4px;
}

.options-config-modal a:hover {
   font-weight: bold;
   color: #b71540;
}

.modal .button-modal  {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}

.modal .button-modal button {
   width: 80px;
   border: none;
   padding: 6px;
   background-color: #b71540 ;
   color: white;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
   transition: 200ms;
}

.modal .button-modal button:hover {
   filter: brightness(70%);
   background-color: #b71540 ;
   color: white;
}

.btn-close-modal {
   position: absolute;
   right: 7px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   margin-top: -10px;
}

.modal-config .image {
   background: url('../../assets/menuCircle.svg') no-repeat;
   width: 100px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.modal-config img {
   width: 85px;
   height: 85px;
   border-radius: 100%;
}

