.loader-container {
   width: 900px;
   height: 850px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.notification-badge {
   z-index: 1000;
}

.notification:hover {
  color: blue;
}

.dashboard header .logo-image {
   width: 100px;
   height: auto;
   margin: 0 10px;
}

.dashboard header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 3px 20px;
   width: 100%;
}

.dashboard header .user-image {
   width: 40px;
   border-radius: 100%;
   height: 40px;
   margin: 0 6px;
   cursor: pointer;
}

.dashboard header .header-config {
   display: flex;
   align-items: center;
   justify-content: center;
}

.dashboard header .header-config svg {
   margin: 0 10px;
   cursor: pointer;
   transition: 200ms;
}

.dashboard header .header-config svg:hover {
   filter: brightness(70%);
}

.dashboard header .header-config select {
   width: 130px;
   margin: 0 6px;
   font-size: 15px;
   padding: 3px;
   font-family: Helvetica, sans-serif;
   border-radius: 5px;
}

.dashboard header .header-image {
   position: relative;
}

.employees-selection-div {
   padding-left: 10px;
   padding-right: 10px;
}

.employees-selection {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px gray;
  width: auto;
}

#employees-selection {
   width: 200px;
}

#employees-selection option {
   width: 200px;
}

.opacity {
   width: 40px;
   height: 40px;
   background-color: transparent;
   position: absolute;
   top: 0;
   right: 6px;
   border-radius: 100%;
   transition: 200ms;
}

.opacity:hover {
   background-color: rgba(0, 0, 0, 0.3);
   cursor: pointer;
}

span.MuiCardHeader-title {
   font-size: 25px;
   font-family: Helvetica;
   padding: 8px;
   margin: 1px 8px;
}

div.black-mask-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

div.black-mask {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.4);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 5;
}

div.black-mask-left-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}


div.black-mask-config {
   position: absolute;
   right: 0;
   top: 0;
}

.confirm-msg {
   margin-left: 25px;
}

.confirm-box {
   padding: 30px;
   width: 300px;
   height: 150px;
   background-color: white;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
   border-radius: 8px;
   position: absolute;
   left: 40%;
   bottom: 40%;
   font-size: 20px;
   display: flex;
   flex-direction: column;
}

.btn-no {
   border: none;
   border-radius: 5px;
   background-color:rgba(61, 106, 207, 1);
   color: white;
   padding: 5px;
   width: 50px;
}

.btn-yes {
   border: none;
   border-radius: 5px;
   background-color: rgba(169, 43, 67, 1);
   color: white;
   padding: 5px;
   width: 50px;
}

.btn-group {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 20px;
}