.modal-detail-event {
   position: absolute;
   right: 35%;
   top: 25%;
   padding: 30px;
   width: 400px;
   background-color: white;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
   border-radius: 8px;
   border-left: 6px solid #3867d6;
}

@media(max-width: 1300px) {
   .modal-detail-event {
      right: 35%;
   }
}

@media(max-width: 980px) {
   .modal-detail-event {
      right: 30%;
   }
}

@media(max-width: 780px) {
   .modal-detail-event {
      right: 25%;
   }
}

.modal-detail-event header {
   position: relative;
}

.modal-detail-event header p {
   font-size: 22px;
   border-bottom: 2px solid #cecece;
   width: 80%;
   padding: 10px;
}

.modal-detail-event .modal-navigation {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   right: 0;
}

.modal-detail-event .modal-navigation svg {
   margin-left: 10px;
   cursor: pointer;
}

.modal-detail-event .modal-navigation svg:hover {
   filter: brightness(90%);
}

.modal-detail-event p.date {
   margin-top: 10px;

}

.modal-detail-event .detail-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 10px;
}

.event-note,
.event-customer-name,
.event-hour {
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-top: 10px;
}

.event-note svg,
.event-customer-name svg,
.event-hour svg {
   margin-right: 20px;
}

.event-hour .input {
   border: none;
   background-color: #cecece;
   font-size: 16px;
   width: 60px;
   text-align: center;
}

.event-hour p {
   margin: 10px;
   font-size: 16px;
   margin-bottom: -3px;
}

.event-customer-name .input {
   border: none;
   background-color: #cecece;
   font-size: 16px;
   min-width: 60px;
   width: 200px;
   padding: 5px;
   text-align: center;
}

.event-note div.textarea {
   border: none;
   background-color: #cecece;
   font-size: 16px;
   width: 200px;
   padding: 10px;
   line-height: 22px;
}