.header header img {
   width: 100px;
   height: auto;
   margin: 0;
}

.header header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 14px;
}

.header header svg {
   margin-right: 10px;
   cursor: pointer;
}