.modal-offline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: rgb(206, 23, 23);
    color: white;
    font-family: Helvetica;
    font-size: large;
}

.modal-offline-container .noConnectionIcon {
    width: 23px;
    height: 23px;
    margin-right: 15px;
}