.rbc-time-slot {
   border: none
}
.rbc-time-view{
   border:none
}

.rbc-header{
   padding: 16px 3px
}

.rbc-time-view .rbc-row { 
   min-height: auto!important
}

.rbc-timeslot-group {
   min-height: 63px;
   display: flex;
   flex-flow: column nowrap;
}

.rbc-label {
   padding: 0px 5px;
   top: 20px;
   position: relative;
}

.rbc-toolbar .rbc-toolbar-label {
   flex-grow: 1;
   padding: 0 10px;
   text-align: left; 
}

.rbc-toolbar  {
   justify-content: space-between!important;
   flex-direction: row!important;
   display: flex!important;
   margin-bottom: .5rem!important;
   margin: 4px 20px;
   padding: 5px;
   background-color: white;
}


.rbc-header {
   background-color: #CCCCCC;
   color: #737373;
}

.rbc-header{
   border-right: 1px solid #737373;
   border-left: 1px solid #737373;
}

.rbc-header:first-child {
   border-left: none;
}

.rbc-header:last-child {
   border-right: none;
}

.rbc-time-content {
   border-top: 0;
}

.rbc-time-header.rbc-overflowing {
   margin-right: 0;
}

.rbc-toolbar button {
   cursor: pointer;
   background-color: white;
   border: 1px solid #0d79f2;
   border-radius: 5px;
   padding: 5px;
   width: 100px;
   max-width: 100px;
   transition: 200ms;
   color: #0d79f2;
}

.rbc-toolbar button:first-child {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

.rbc-toolbar button:nth-child(2) {
   border-radius: 0;
   border-left: 0;
   border-right: 0;
}


.rbc-toolbar button:last-child {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

.rbc-toolbar button:hover,
.rbc-toolbar button:focus {
   background-color: #0d79f2;
   color: white;
}

.rbc-toolbar span.calendar-info {
   text-transform: capitalize;
   font-size: 20px;
}

.rbc-toolbar button.add-button {
   color: white;
   background-color: #0d79f2;
   border: none;
   border-radius: 3px;
   display: flex;
   cursor: pointer;
   transition: 200ms;
   width: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px; 
   transition: 0.2s;  
}

.rbc-toolbar button.add-button:hover {
   filter: brightness(70%);
   color: white;
}

.rbc-current-time-indicator {
   height: 2px;
   background-color: red;
}

button.add-button svg {
   margin-right: 5px;
}

div.rbc-time-slot span.rbc-label{
   margin-left: -7px;
   padding: 0 9px;
}

div.rbc-calendar {
   padding: 0px !important;
}

div.makeStyles-calendar-8 {
   max-height: auto;
}

.nav-buttons {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.rbc-toolbar .nav-buttons button {
   color: #737373;
   font-weight: bold;
   font-size: 15px;
   background-color: transparent;
   border: none;
   border-radius: 3px;
   display: flex;
   cursor: pointer;
   transition: 200ms;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}